<%= link_to "投稿画面へ", new_user_path %>
<% @user.each do |user| %>
  <p>
    <%= user.name %>
    <%= user.age %>
    <%= link_to "削除", user_path(user), method: :delete, data: {confirm: "削除しますか？"} %>
  </p>
<% end %>
